.first {
  margin-left: 144px;
  margin-top: 0;
  height: 880px;
  padding: 0;
}

.sliderFirst {
  position:absolute;
  z-index: -1;
  margin-left: 683px;
  margin-top: -40px;
  padding: 0;
}

.sliderFirst img {
  height: 880px;
  width: 1077px;
}

.header {
 margin-top: 40px;
 padding: 0;
 height: 100px;
 width: 1770px;
 display: flex;  
 flex-direction: row;
 font-family: 'Inter';
 align-items: flex-start;
 align-content: center;
 z-index: 2;
 position: relative;
}

.headLeft {
 display: flex;  
 flex-direction: row;
 align-items: center;
  }

.logoIrby {
  width: 138px;
  height: 76px;
}

.navButtons {
  width: 401px;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  margin-left: 75px;
  padding: 0;
  font-size: 18px;
  white-space: nowrap;
}

.navButtons li {
  margin-right: 30px;
}

.headRight {
  width: 186px;
  position: absolute;
  top: 18px;
  right: 150px;
  font-size: 20px;
  font-weight: 600;
}


.tradeOffer {
  width: 660px;
  margin-top: 173px;
  display: flex;
  flex-direction: column;
}

.tradeOffer h1 {
  font-family: 'Source Serif Pro';
  font-size: 55px;
  font-weight: 400;
}

.tradeOffer p {
  margin-top: 23px;
  height: 81px;
  width: 450px;
  font-size: 19px;
  font-family: 'Inter';
}

button {
  margin-top: 35px;
  width: 280px;
  height: 65px;
  background-color:rgba(159, 129, 90, 1);
  color: white;
  border: 0;
  font-size: 19px;
  font-weight: 500;
}

.socialContact {
  margin-top: 184px;
  width: 660px;
  font-size: 19px;
  font-weight: 500;
  color: rgba(125, 125, 125, 1);
}

.socialContact a {
  margin-right: 70px;
}

.second {
  height: 850px;
  width: 1770px;
  margin-top: 100px;
  margin-left: 150px;
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
}

.sliderSecond{
  z-index: 2;
  height: 620px;
  width: 820px;
  padding: 0;
  position: absolute;
  
}

.aboutUs {
  background-color: rgba(242, 241, 241, 1);
  height: 100%;
  width: 1770px;
  align-content: center;
  float: left;
  margin-left: 410px;
  z-index: 0;
}

.aboutUstext {
  margin-left: 547px;
  height: 470px;
  width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}

.aboutUstext h2 {
  font-family: 'Source Serif Pro';
  font-size: 40px;
  font-weight: 400;
  padding-bottom: 40px;
}

.aboutUstext h2 span {
  color: rgba(159, 129, 90, 1);
}

.aboutUstext p {
  font-family: 'Inter',;
  font-weight: 300;
  font-size: 19px;
  padding-bottom: 20px;
  width: 600px;
  
}

.aboutUstext button {
  background-color: rgba(242, 241, 241, 1);
  color: rgba(159, 129, 90, 1);
  border: 1px solid rgba(159, 129, 90, 1);
}

.navButtonSlideSecond {
  position: absolute;
  margin-top: 760px;
  margin-left: -389px;
}

.navButtonSlideSecond img {
  height: 16px;
  width: 116px;
  margin-right: 20px;
}

.third {
 height: 843px;
 margin: 100px 0 0 150px;
 display: flex;
 flex-direction: row;
 align-items: center;
 align-content: center;
}

.benefits1 {
  width: 527px;
  font-family: 'Source Serif Pro';
  font-weight: 400;
  font-size: 40px;
  align-self: flex-end;
  padding-right: 20px;
}

.benefits1 p {
  color: rgba(159, 129, 90, 1);
  padding-bottom: 51px;
}

.benefits1 img {
  width: 532px;
  height: 532px;
}

.benefits2 {
  width: 527px;
  align-self: flex-start;
  padding-right: 20px;
}

.benefits2 h3 {
  margin-top: 51px;
  color: rgba(159, 129, 90, 1);
  font-family: 'Source Serif Pro';
  font-weight: 400;
  font-size: 25px;
}

.benefits2 p {
  margin-top: 20px;
  font-family: 'Inter';
  font-weight: 300;

}

.benefits2 img {
  width: 527px;
  height: 550px;
}

.benefits3 {
  width: 527px;
  align-self: flex-end;
}

.benefits3 h3 {
  width: 527px;
  margin-top: 50px;
  color: rgba(159, 129, 90, 1);
  font-family: 'Source Serif Pro';
  font-weight: 400;
  font-size: 25px;
}

.benefits3 p {
  width: 527px;
  margin-top: 20px;
  font-family: 'Inter';
  font-weight: 300;
}

.benefits3 img {
  margin-top: 76px;
  width: 527px;
  height: 400px;
}

.fourth{
  height: 720px;
  width: 1770px;
  display: flex;
  flex-direction: row;
  margin-top: 100px;
  background-color: rgba(242, 241, 241, 1);
  padding-right: 150px;
  align-content: center;
}
.bestsellers {
  margin-top: 147px;
  margin-left: 150px;
  width: 390px;
  display: flex;
  flex-direction: column;
}

.bestsellers h2 {
  font-family: 'Source Serif Pro';
  font-size: 40px;
  font-weight: 400;
  padding-bottom: 30px;
  width: 390px;
}

.bestsellers p {
  font-family: 'Inter';
  font-weight: 300;
  font-size: 19px;
  padding-bottom: 20px;
  line-height: 26.6px;
  width: 390px;
}

.bestsellers button {
  white-space: inherit;
  width: 270px;
  height: 70px;
  background-color: rgba(242, 241, 241, 1);
  color: rgba(159, 129, 90, 1);
  border: 1px solid rgba(159, 129, 90, 1);
}

.navButtonThird {
  margin-top: 134px;
}

.navButtonThird img {
  height: 16px;
  width: 116px;
  margin-right: 20px;
}

.sliderThird{
 margin-top: 100px;
 margin-left: 20px;
 margin-right: 0px;
 display: flex;
 flex-direction: row;
 overflow: hidden;
}

.component1 {
  align-items: center;
  justify-content: center;
}

.componentsAbout {
 width: 390px;
 height: 72px;
}

.componentsAbout h3 {
  font-family: 'Source Serif Pro';
  font-size: 25px;
  font-weight: 400;
  color: rgba(159, 129, 90, 1);
  padding-bottom: 10px;
}

.componentsAbout p {
  font-family: 'Inter';
  font-weight: 300;
  font-size: 19px;
  padding-bottom: 10px;
  line-height: 26.6px;
}

.sliderThird img {
  z-index: 2;
  height: 440px;
  width: 390px;
  padding: 0;
  margin-right: 20px;
}

.deliveryImg {
  z-index: 2;
  height: 544px;
  width: 676px;
  margin-top: 120px;
  margin-left: 0px;
  position: absolute;
}

.deliveryPay {
  margin-left: 420px;
  margin-top: 100px;
  width: 1350px;
  height: 830px;
  display: flex;
  flex-direction: column;
  z-index: 0;
  background-color: rgba(242, 241, 241, 1);
}

.delivery {
  width: 1164px;
  display: flex;
  flex-direction: row;
  margin-left: 336px;
  margin-top: 140px;
}

.delivery div {
  width: 670px;
}

.delivery span {
  font-weight: bold;
}

.delivery div h2 {
  width: 670px;
  font-size: 40px;
  font-weight: 400;
  padding-bottom: 30px;
  font-family: 'Source Serif Pro';
  color: rgba(159, 129, 90, 1);
}

.delivery div p {
  width: 670px;
  font-family: 'Inter';
  font-weight: 300;
  font-size: 19px;
  padding-bottom: 20px;
  line-height: 26.6px;
}

.delivery img {
  width: 370px;
  height: 320px;
  margin-left: 124px;
  margin-top: -80px;
}

.payment {
  display: flex;
  flex-direction: row;
  margin-top: 100px;
}

.payment img {
  z-index: 2;
  width: 533px;
  height: 412px;
  margin-left: 112px;
  margin-top: -35px;
}

.payment div {
  margin-left: 80px;
}

.payment div h2 {
  font-size: 40px;
  font-weight: 400;
  padding-bottom: 30px;
  font-family: 'Source Serif Pro';
  color: rgba(159, 129, 90, 1);
}

.payment div p {
  font-family: 'Inter';
  font-weight: 300;
  font-size: 19px;
  padding-bottom: 20px;
  line-height: 26.6px;
}

.sixth{
  height: 950px;
  width: 1770px;
  display: flex;
  flex-direction: row;
  margin-top: 159px;
  background-color: rgba(242, 241, 241, 1);
  padding-right: 150px;
  align-content: center;
}

.sendMessage {
  margin-left: 150px;
  display: flex;
  flex-direction: column;
  height: 720px;
  width: 720px;
}

.sendMessage div {
  width: 720px;
}

.sendMessage h3 {
  margin-top: 50px;
  font-family: 'Source Serif Pro';
  font-size: 25px;
  font-weight: 400;
}

.formInputs {
  margin-top: 30px;
  display: flex;
  flex-direction: row;
}

.inputName {
  display: flex;
  flex-direction: column;
}

.clientName {
  width: 270px;
  height: 50px;
  font-size: 16px;
  font-family: 'Inter';
  font-weight: 400;
  border: 0;
  padding-left: 20px;
}

.clientName::placeholder {
  font-family: 'Inter';
  font-weight: 400;
  font-size: 16px;
  color: rgba(125, 125, 125, 1);
}

.clientPhone {
  margin-top: 20px;
  width: 270px;
  height: 50px;
  border: 0;
  font-size: 16px;
  font-family: 'Inter';
  font-weight: 400;
  padding-left: 20px;
}

.clientPhone::placeholder {
  font-family: 'Inter';
  font-weight: 400;
  font-size: 16px;
  color: rgba(125, 125, 125, 1);
}

.comment {
  margin-left: -410px;
  width: 370px;
  height: 120px;
  border: 0;
  font-size: 16px;
  font-family: 'Inter';
  font-weight: 400;
  padding: 13px 20px;
  text-wrap: balance;
}

.comment::placeholder {
  font-family: 'Inter';
  font-weight: 400;
  font-size: 16px;
  color: rgba(125, 125, 125, 1);
  
}

.formSendButton {
  display: flex;
  flex-direction: row;
}

.formSendButton p {
  margin-left: 20px;
  margin-top: 39px;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 16px;
  line-height: 22.4px;
  color: rgba(125, 125, 125, 1);
}

.contactUs {
  width: 800px;
  height: 708px;
  margin-top: 140px;
  margin-left: 100px;

}

.contactUs h2 {
  font-family: 'Source Serif Pro';
  font-size: 40px;
  font-weight: 400;

}

.contactUs span {
  color: rgba(159, 129, 90, 1);
}

.contactUs p {
  margin-top: 30px;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 20px;
}

.contactsIrby {
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: center;
}

.urlContacts {
  margin-top: 30px;
  margin-left: 84px;
  height: 40px;
}

.urlContacts a {
  width: 40px;
  height: 40px;
  padding-right: 30px;
}

.contactUsImg1 {
  width: 720px;
  height: 390px;
  margin-top: 50px;
  margin-left: 0px;
}

.contactUsImg2 {
  width: 800px;
  height: 540px;
  margin-top: 50px;
}

.footer {
  background-color: black;
  width: 1770px;
  height: 180px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-left: 150px;
}

.footer img {
  width: 138px;
  height: 76px;
}

.navButtonsFooter {
  width: 416px;
  margin-left: 443px;
  display: flex;
  flex-direction: row;
  list-style-type: none;
  white-space: nowrap;
}

.navButtonsFooter li {
  margin-right: 30px;
  color: white;
  font-weight: 300;
  font-size: 18px;
  font-family: 'Inter';
}

.footerRight {
  color: white;
  font-weight: 700;
  font-size: 20px;
  font-family: 'Inter';
  margin-left: 443px;
  margin-right: 150px;
}


